<?xml version="1.0"?>
<launch>

  <arg name="gui" default="false" />
  <param name="use_gui" value="$(arg gui)"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find abb_irb2400_support)/urdf/irb2400.xacro'" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" required="true"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" required="true"/>

</launch>
